<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
        <div id="app">

          

            <h1>{{myWelcomeMessage}}</h1>
            {{message}}
            <p v-if='showilya'>{{myname}}</p>
            <ul>
               <todo-item v-for="item in todos"
               v-bind:todo="item"
               v-bind:key="item.id">
                   
               </todo-item>
            </ul>
            <button v-on:click="reverseMessage">Reverse Message</button>
            <input v-model='message'>
            
        </div>
        <script>
           

              Vue.component('todo-item', {
                    template: '<li>{{ todo.id }} {{ todo.text }}</li>',
                    props: ['todo'],

                    })
            var app = new Vue({ 
                    el: '#app',
                    data: {
                        myWelcomeMessage: 'Hello World',
                        message: 'Hello Vue! ' +  new Date().toLocaleString(),
                        myname: 'ilya',
                        showilya: false,
                        todos: [
                            {
                                id: 0, 
                                text: 'one'
                            },
                            {
                                id:1, 
                                text: 'two'
                            },
                            {
                                id: 2, 
                                text: 'three'
                            },
                            {
                                id: 3, 
                                text: 'four'
                            },
                        ]
                    },
                    methods :{
                        reverseMessage: function () {
                            this.message=this.message.split('').reverse().join('');

                            this.myWelcomeMessage = this.myWelcomeMessage + (this.message);
                        }
                    }
                });
        </script>
    </body>

</html>